.features-section {
  position: relative;
  margin-top: -100px;
  z-index: 1;
  box-shadow: 13px -15px 5.3px 0px #0000001A;
  background: #1BB0D8 url('/assets/images/fetaures-background.svg') right bottom no-repeat;
  background-size: 80%;
  border-radius: 100px 0px 0px 0px;
}

.feature-card {
  background-color: #fbfaf1;
  padding: 15px 24px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  z-index: 0;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.feature-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}
.feature-card .card-icon {
  margin-bottom: 15px;
}
.feature-card .card-title {
  font-size: 24px;
  font-family: var(--font-light);
  margin-bottom: 20px;
}
.feature-card .card-text {
  font-size: 18px;
  font-family: var(--font-bold);
  margin-bottom: 24px;
  line-height: 18px;
}
.feature-card .list-unstyled {
  font-size: 16px;
  padding-left: 0px;
  list-style-type: none;
  list-style-position: inside;
}
.feature-card .list-unstyled li {
  position: relative;
  padding-left: 14px;
  line-height: 22px;
  color: var(--color_black);
  text-align: left;
  padding-bottom: 8px;
}
.feature-card .list-unstyled li:after {
  content: '';
  position: absolute;
  height: 4px;
  width: 4px;
  border-radius: 6px;
  display: inline-block;
  background: var(--color_black);
  left: 0px;
  top: 9px;
}

@media (max-width: 992px) {
  .feature-card .card-icon img {
    height: 60px !important;
  }
}
@media (max-width: 767px) {
  .features-section {
    border-radius: 50px 0px 0px 0px;
  }
}
